/*
 * Avatar box.
 */

div.avatar {
  position: relative;

  min-height: 40px;

  img {
    width: 40px;
    height: 40px;
    position: absolute;
  }

  .name, .email {
    margin-left: 50px;
    font-size: 80%;
  }
}

span.avatar {
  img {
    width: 1.2em;
    height: 1.2em;
    vertical-align: middle;
    margin-right: 0.3em;
  }

  .name {
  }
}

