/*
 * Styling for questions and answers.
 */

.question {
  padding-bottom: 0.5em;
  border-bottom: 1px solid #ccc;
}

.answer {
  margin: 0.5em 0px;
  border-bottom: 1px dotted #ccc;
  padding-bottom: 0.5em;
  position: relative;

  .info {
    font-size: 0.8em;

    .created_at {
      color: #444;
    }
  }
  
  .actions {
    position: absolute;
    right: 0px;
    bottom: 0.5em;

    a {
      font-size: 0.8em;
      text-transform: lowercase;
      text-decoration: none;
      color: gray;
      &:hover {
        text-decoration: underline;
      }
      &.delete {
        &:hover {
          color: red;
        }
      }
    }
  }
}

.text {
  ul {
    list-style: disc;
    margin: 0.75em 0px 0.75em 1em;
  }
}
