/*
 * Styling for questions and answers.
 */

.question {
  padding-bottom: 0.5em;
  border-bottom: 1px solid #ccc;
}

.answer {
  margin: 0.5em 0px;
  border-bottom: 1px dotted #ccc;
  padding-bottom: 0.5em;
  position: relative;

  .text {
  }

  .info {
    font-size: 0.8em;

    .created_at {
      color: #444;
    }
  }
  
  .actions {
    position: absolute;
    right: 0px;
    bottom: 0.5em;

    a {
      font-size: 0.8em;
      text-transform: lowercase;
      text-decoration: none;
      &.delete {
        color: gray;
        &:hover {
          color: red;
        }
      }
    }
  }
}
