/*
 * Styling for questions and answers.
 */

.question {
  padding-bottom: 0.5em;
  border-bottom: 1px solid #ccc;

  .text {
    font-size: 1.2em;
  }
}

.answer {
  margin: 0.5em 0px;
  border-bottom: 1px dotted #ccc;
  padding-bottom: 0.5em;

  .text {
  }
}
