<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html;charset=utf-8">
    <title>Moderatr - Вопрос</title>
    <link rel="stylesheet" href="{{assets}}/style/main.css" type="text/css">
  </head>
  <body>
    <div id="root">
      {{>header}}

      {{#question}}
      <div id="content">
        <div class="inner" id="question">
        {{>question}}
        </div>

        <div class="inner">
          <h3>Ответы</h3>
          <div id="answers"></div>
        </div>

        <div id="answerForm"></div>
      </div>
      {{/question}}

      {{^question}}
      <div id="content">
        <div class="inner">
          <div id="questionForm"></div>
        </div>

        <div id="questionTips" class="inner">
          <h3>Как составить вопрос?</h3>
          <p>
            Хороший вопрос!
          </p>
        </div>
      </div>
      {{/question}}

      {{>sidebar}}

      <div id="root_footer">
      </div>
    </div>
    {{>footer}}
  </body>

{{>scripts}}

<script type="text/javascript" charset="utf-8">
  $.couch.app(function(app) {
    var id = '{{_id}}';

    if (id) {
      $$('#question').id = id;

      $("#answers").evently("answers", app);

      $("#answerForm").evently("answerForm", app);
      $.evently.connect('#account', '#answerForm', ['loggedIn', 'loggedOut']);
    } else {
      $('#questionForm').evently("questionForm", app);
      $.evently.connect('#account', '#questionForm', ['loggedIn', 'loggedOut']);
    }
  }, {
    "db" : "{{db}}",
    "design" : "{{design}}"
  });
</script>
</html>
