<!DOCTYPE html>
<html>
  <head>
    <title>Moderatr - Вопрос {{#_id}}{{_id}}{{/_id}}</title>
    <base href="http://localhost:5984/moderatr/_design/moderatr/">
    <link rel="stylesheet" href="style/main.css" type="text/css">
  </head>
  <body>
    <div id="root">
      <h1>Moderatr</h1>
      {{#question}}
        {{>question}}
        <div id="answers">
        </div>
        <div id="answerForm">
        </div>

        <script src="vendor/couchapp/loader.js"></script>
        <script type="text/javascript" charset="utf-8">
          $.couch.app(function(app) {
            $("#answers").evently("answers", app);
            $("#answerForm").evently("answerForm", app);
            $.evently.connect("#account", "#answerForm", ["loggedIn","loggedOut"]);
          });
        </script>

      {{/question}}
      {{^question}}
        {{>questionForm}}
      {{/question}}
      <div id="root_footer">
      </div>
    </div>
    {{>footer}}
  </body>
</html>

