<!DOCTYPE html>
<html>
  <head>
    <title>Moderatr - Вопрос {{#_id}}{{_id}}{{/_id}}</title>
    <!-- FIXME Эта ссылка работает только для локальной установки! -->
    <base href="http://localhost:5984/moderatr/_design/moderatr/">
    <link rel="stylesheet" href="style/main.css" type="text/css">
  </head>
  <body>
    <div id="root">
      <div id="pageHeader">
        <h1 class="logo">
          <a href="./index.html">Moderatr</a>
        </h1>

        <div id="account"></div>
      </div>

      {{#question}}
      <div id="content">
        {{>question}}

        <div class="inner">
          <h3>Ответы</h3>
          <div id="answers"></div>
        </div>

        <div id="answerForm"></div>
      </div>
      {{/question}}

      {{^question}}
      <div id="content">
        <div class="inner">
        {{>questionForm}}
        </div>
      </div>
      {{/question}}

      <div id="sidebar">
        <div id="profile"></div>
      </div>

      <div id="root_footer">
      </div>
    </div>
    {{>footer}}
  </body>

  <script src="vendor/couchapp/loader.js"></script>
  <script type="text/javascript" charset="utf-8">
    $.couch.app(function(app) {
      $('#account').evently('account', app);
      $('#profile').evently('profile', app);

      $.evently.connect('#account', '#profile', ['loggedIn', 'loggedOut']);

      {{#_id}}
      $$('#question').id = '{{_id}}';

      $("#answers").evently("answers", app);
      $("#answerForm").evently("answerForm", app);

      $.evently.connect('#account', '#answerForm', ['loggedIn', 'loggedOut']);
      $.evently.connect('#answerForm', '#answers', ['answerAdded']);
      {{/_id}}
    });
  </script>
</html>
